<html>

<head>
    <title>QR Code</title>
    <link rel="icon" href="https://i.ibb.co/fS0CGZC/dhNY.png">
    <!-- bootstraplinks -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <img src="https://i.ibb.co/Ph7Cn4N/orranget.png" alt="orranget" class=" img-fluid float-right" border="0"
            style="margin-right: -1%;">

        <img src="https://i.ibb.co/M2xD1L8/ini.png" class=" img-fluid " style="height: 19%; text-align: left;" alt="ini"
            border="0">
    <center>
        
            <div style="width: 50%;margin:10.7% 20% 6.8% 26%;">
                <h1 class="display">Congrats you got <span class="badge badge-secondary"><%= person  %></span> out of INITIATIVE</h1><br>
                <h3><div class="alert alert-primary" role="alert">Complete INITIATIVE</div></h3>

            <div id="todo-table container">
                
                <form method="POST" action="/todos/<%= person  %>/<%= index %>" class="form-inline">
                    <p style="margin: auto;"><input type="text" placeholder="Team Name" name="teamname" class="form-control"
                            required>
                            <input type="email" placeholder="Email Id" name="email" class="form-control"
                            required>
                        <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Click To Add">Submit</button></p>
                    
                    </form>

            </div>
            
        </div>
    </center>

    <img src="https://i.ibb.co/frf7W21/Abc.png" class=" img-fluid float-left" alt="Abc" border="0" style="margin-left:-1%;">

    </div>

    <!-- bootstraplinks -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>